<div *ngIf="!hasCert">
  <h1>You do not have the certificate yet</h1>
  <h2>Choose possible issuers!</h2>
  <table mat-table [dataSource]="certificates" class="mat-elevation-z8">
    <ng-container matColumnDef="subjectName">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let c">
        {{ c.subject.name + " " + c.subject.lastname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="issuerName">
      <th mat-header-cell *matHeaderCellDef>Issuer</th>
      <td mat-cell *matCellDef="let c">
        {{ c.issuer.name + " " + c.issuer.lastname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start date</th>
      <td mat-cell *matCellDef="let c">
        {{ c.startDate | date : "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End date</th>
      <td mat-cell *matCellDef="let c">
        {{ c.endDate | date : "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let c">
        {{ c.type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="publicKey" class="key">
      <th mat-header-cell *matHeaderCellDef>Public key</th>
      <td mat-cell *matCellDef="let c">
        {{ c.publicKey }}
      </td>
    </ng-container>

    <ng-container matColumnDef="getCert">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let c">
        <button class="button" (click)="onIssue(c.subject.username)">
          Request certificate
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="card" *ngIf="hasCert">
  <div class="title">Certificate details:</div>
  <div class="info">
    <div class="label">Subject:</div>
    <div class="value">
      {{ myCertificate.subject.name }} {{ myCertificate.subject.lastname }}
    </div>
    <div class="value">Mail: {{ myCertificate.subject.email }}</div>
    <div class="value">
      Organization: {{ myCertificate.subject.organization }}
    </div>
    <div class="value">Country: {{ myCertificate.subject.country }}</div>
  </div>
  <div class="info">
    <div class="label">Issuer:</div>
    <div class="value">
      {{ myCertificate.issuer.name }} {{ myCertificate.issuer.lastname }}
    </div>
    <div class="value">Mail: {{ myCertificate.issuer.email }}</div>
    <div class="value">
      Organization: {{ myCertificate.issuer.organization }}
    </div>
    <div class="value">Country: {{ myCertificate.issuer.country }}</div>
  </div>
  <div class="info">
    <div class="label">Validity period:</div>
    <div class="value">
      Start date: {{ myCertificate.startDate | date : "medium" }}
    </div>
    <div class="value">
      End date: {{ myCertificate.endDate | date : "medium" }}
    </div>
  </div>
  <div class="info">
    <div class="label">Public key:</div>
    <div class="key">{{ myCertificate.publicKey }}</div>
  </div>
</div>
