.change-password-component {
  overflow-y: hidden;
}

.change-password-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  background-color: aqua;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #3498db;
  width: 100px;
  color: white !important;
  border: none;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  margin-right: 20px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}
