<div class="change-password-component">
  <h1 class="change-password-title" mat-dialog-title>Change password</h1>
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Old password"
        [(ngModel)]="oldPassword"
        type="password"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="New password"
        [(ngModel)]="newPassword"
        type="password"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Repeat password"
        [(ngModel)]="repeatPassword"
        type="password"
        required
      />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button
      mat-button
      class="button"
      (click)="closeDialog()"
      [disabled]="isInitialLogging"
    >
      Cancel
    </button>
    <button
      mat-button
      class="button"
      (click)="changePassword()"
      [disabled]="!isFormValid()"
    >
      Change
    </button>
  </div>
</div>
