<div class="register">
  <div class="radio-group" *ngIf="!isSuccessful">
    <mat-radio-group [(ngModel)]="selectedClientType">
      <mat-radio-button value="PHYSICAL_PERSON"
        >Physical person</mat-radio-button
      >
      <mat-radio-button value="LEGAL_ENTITY">Legal Entity</mat-radio-button>
    </mat-radio-group>
  </div>
  <form
    class="register-form"
    [formGroup]="peRegistrationForm"
    [ngClass]="{ 'hidden-form': selectedClientType === 'LEGAL_ENTITY' }"
    *ngIf="!isSuccessful"
  >
    <div class="center-inputs">
      <mat-form-field class="register-input">
        <mat-label>Email:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="username"
        />
      </mat-form-field>

      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Password:</mat-label>
          <input
            matInput
            [type]="isPassword1Visible ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <fa-icon
          class="register-password-eye"
          [icon]="isPassword1Visible ? faEyeSlash : faEye"
          (click)="togglePassword1Visibility()"
        ></fa-icon>
      </div>

      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Password:</mat-label>
          <input
            matInput
            [type]="isPassword2Visible ? 'text' : 'password'"
            placeholder="Re-enter password"
            formControlName="rePassword"
          />
        </mat-form-field>

        <fa-icon
          class="register-password-eye"
          [icon]="isPassword2Visible ? faEyeSlash : faEye"
          (click)="togglePassword2Visibility()"
        ></fa-icon>
      </div>

      <mat-form-field class="register-input">
        <mat-label>Name:</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Surname:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Surname"
          formControlName="surname"
        />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Street:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Street"
          formControlName="address"
        />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>City:</mat-label>
        <input matInput type="text" placeholder="City" formControlName="city" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Country:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Country"
          formControlName="country"
        />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Phone Number:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Phone Number"
          formControlName="phoneNumber"
        />
      </mat-form-field>

      <div class="radio-group">
        <mat-label>Service package</mat-label>
        <mat-radio-group formControlName="servicePackage">
          <mat-radio-button value="BASIC">Basic</mat-radio-button>
          <mat-radio-button value="STANDARD">Standard</mat-radio-button>
          <mat-radio-button value="GOLD">Golden</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="register-input">
        <mat-checkbox type="checkbox" formControlName="using2FA"
          >Use Two Step Verification</mat-checkbox
        >
      </div>
    </div>
    <div class="register-button">
      <button class="register-submit" (click)="register()">Register</button>
    </div>
  </form>
  <form
    class="register-form"
    [formGroup]="leRegistrationForm"
    [ngClass]="{ 'hidden-form': selectedClientType === 'PHYSICAL_PERSON' }"
    *ngIf="!isSuccessful"
  >
    <div class="center-inputs">
      <mat-form-field class="register-input">
        <mat-label>Email:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="username"
        />
      </mat-form-field>

      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Password:</mat-label>
          <input
            matInput
            [type]="isPassword1Visible ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <fa-icon
          class="register-password-eye"
          [icon]="isPassword1Visible ? faEyeSlash : faEye"
          (click)="togglePassword1Visibility()"
        ></fa-icon>
      </div>

      <div class="password-field">
        <mat-form-field class="register-input">
          <mat-label>Password:</mat-label>
          <input
            matInput
            [type]="isPassword2Visible ? 'text' : 'password'"
            placeholder="Re-enter password"
            formControlName="rePassword"
          />
        </mat-form-field>

        <fa-icon
          class="register-password-eye"
          [icon]="isPassword2Visible ? faEyeSlash : faEye"
          (click)="togglePassword2Visibility()"
        ></fa-icon>
      </div>

      <mat-form-field class="register-input">
        <mat-label>Company Name:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Company name"
          formControlName="companyName"
        />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>TIN:</mat-label>
        <input matInput type="text" placeholder="TIN" formControlName="tin" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Street:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Street"
          formControlName="address"
        />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>City:</mat-label>
        <input matInput type="text" placeholder="City" formControlName="city" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Country:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Country"
          formControlName="country"
        />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Phone Number:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Phone Number"
          formControlName="phoneNumber"
        />
      </mat-form-field>

      <div class="radio-group">
        <mat-label>Service package</mat-label>
        <mat-radio-group formControlName="servicePackage">
          <mat-radio-button value="basic">Basic</mat-radio-button>
          <mat-radio-button value="standard">Standard</mat-radio-button>
          <mat-radio-button value="golden">Golden</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="register-input">
        <mat-checkbox type="checkbox" formControlName="using2FA"
          >Use Two Step Verification</mat-checkbox
        >
      </div>
    </div>

    <div class="register-button">
      <button class="register-submit" (click)="register()">Register</button>
    </div>
  </form>

  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
    <div *ngIf="isUsing2FA">
      <p>
        Scan this QR code using Google Authenticator app on your phone to use it
        later to login
      </p>
      <img src="{{ qrCodeImage }}" class="img-fluid" />
    </div>
  </div>
</div>
